.timeline {
  margin-left: 15px;
  height: 10px;
  border-radius: 20px;
  width: 500px;
  background-color: grey;
  position: relative;
}

.scrub {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}