.song {
  color: rgb(233, 233, 233);
  padding: 7px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(300px, 4fr) minmax(150px, 2fr) 1fr 1fr;
  column-gap: 15px;
  transition: background-color .3s ease;

  &:hover {
    background-color: rgb(62,62,62);
    border-radius: 5px;
  }
}

.songDuration {
  align-self: center;
  margin-right: 15px;
  margin-left: 20px;
}

.mainSongInfo {
  display: flex;
  flex: 0 0 300px;

  .index {
    width: 60px;
    text-align: center;
  }

  .songImage {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .titleArtist {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
  }
}

.callToAction {
  margin-top: 5px;
  align-self: center;
  justify-self: end;

  svg {
    cursor: pointer;
    transition: fill .3s linear;
    
    &:hover {
      fill: purple;
    }
  }
}

div {
  align-self: center;
  justify-self: flex-start;
}


.songArtistSearch {
  display: grid;
  grid-template-columns: minmax(300px, 4fr) minmax(150px, 2fr) 1fr;
  padding: 8px;
  color: white;

  &:hover {
    background-color: rgb(62,62,62);
    border-radius: 5px;
  }
}


.durationAndAction {
  display: flex;
  justify-self: end;

  div:first-child {
    margin-right: 30px;
  }
}


