@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.songItem {
  padding: 10px 20px 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  // border-top: 1px solid black;
  border-bottom: 1px solid black;
  transition: background 200ms ease-in-out;
  color: rgb(233, 233, 233);

  &:hover {
    background: rgb(63, 63, 63);

    & .playButton {
      border: 1px solid rgb(189, 53, 252);
    }
  }

  &.active {
    background: rgb(78, 78, 78);
  }

  &.playing {
    color: rgb(0, 255, 255);
  }



}

.playButton {
  flex: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 15px;
  padding: 3px;

  &:hover {
    animation: pulse 2s linear infinite;
  }
  

  
}

.song {
  flex: 0 1 300px;
  min-width: 250px;
  padding-right: 10px;

  // // 
  // word-wrap: none;
  @include ellipsis;
}

.artist {
  flex: 0 1 200px;
  min-width: 100px;
  @include ellipsis;
}

.album {
  flex: 0 1 100px;
  @include ellipsis;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 2, 242, 0.7);
  }

  80% {
    box-shadow: 0 0 0 8px rgba(189, 53, 252, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}