$blue: rgb(35, 172, 252);

.timeLine {
  width: 98%;
  margin-right: auto;
  height: 5px;
  background-color: rgb(100, 100, 100);
  position: relative;

}

// scroller
.scrub {
  position: absolute;
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: darken($blue, 10%);;
  border-radius: 50%;
  top: 50%;

  transform: translateY(-50%);
  z-index: 2;

  transition: transform 200ms;

  &:hover {
    transform: scale(2) translateY(-30%)
  }

  &:active {
    transform: scale(2) translateY(-30%);
    background-color: darken($blue, 30%);
  }
}

// populates the track behind the scrub with color
.scrubTrailer {
  z-index: 1;
  position: absolute;
  height: 100%;
  background-color: $blue;
  // transition: width 200ms;
}