// this container works around both the bottom player and the sidenav
// sidenav is 250px width
// bottom player is 75px height
.container {  
  width: calc(100% - 250px);
  height: calc(100% - 75px);
  padding-bottom: 75px;
  margin-left: auto;
  background-color: rgb(51, 51, 51);
  overflow-y: scroll;
  padding: 20px 30px;
}