@import "../../styles/mainContainer.scss";

.section {
  padding: 20px 50px;
  h1 {
    margin-bottom: 20px;
    color: rgb(0, 255, 255);
    font-size: 2em;
  }
}

.song {
  color: rgb(233, 233, 233);
  padding: 7px 5px;
  display: grid;
  grid-template-columns: minmax(300px, 4fr) minmax(150px, 2fr) 1fr 1fr;
  column-gap: 15px;
  transition: background-color .3s ease;

  &:hover {
    background-color: rgb(62,62,62);
    border-radius: 5px;
  }

  div {
    align-self: center;
    justify-self: flex-start;
  }

  .mainSongInfo {
    display: flex;
    flex: 0 0 300px;

    .songImage {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    .titleArtist {
      display: flex; 
      flex-direction: column;
      justify-content: space-between;
    }
  }


  .songDuration {
    align-self: center;
    margin-right: 15px;
    margin-left: 20px;
  }

  .callToAction {
    margin-top: 5px;
    align-self: center;
    justify-self: end;

    svg {
      cursor: pointer;
      transition: fill .3s linear;
      
      &:hover {
        fill: purple;
      }
    }
  }

}


.artistSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 20px;
  column-gap: 20px;
}

.artistCard {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height: auto;
  background-color: rgb(60,60,60);
  color: white;
  cursor: pointer;
  transition: background-color .3s ease;
  
  &:hover {
    background-color: rgb(77, 77, 77);
  }

  img {
    border-radius: 50%;
    width: 170px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px 0px rgb(32, 32, 32);
  }

  .albumCover {
    border-radius: 0%;
    width: 170px;
    box-shadow: 2px 2px 10px rgb(32, 32, 32);
  }

  p {
    align-self: flex-start;
  };

  .secondaryText {
    font-size: 13px;
  }
}



